@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, Linda</h1>

Welcome to your new app.

<p>
<h3> Create Brazor web appp steps:</h3>
</p>

<div>1 install latest dotnet-sdk-8.0.303-win-x64</div>

<div>2 run <b>dotnet new</b> in api folder, select <b>Blazor</b></div>

<div>3 <b>dotnet watch run</b> to view </div>
