@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, Linda wang</h1>

Welcome to your new app.

<p>
<h3> Create Brazor web appp steps:</h3>
</p>

<div>1 install latest dotnet-sdk-8.0.303-win-x64</div>

<div>2 run <b>dotnet new</b> in api folder, select <b>Blazor</b></div>

<div>3 <b>Save </b>Update local: http://localhost:5009/</div>


<div> 4 <b>run: dotnet watch run</b> https://webapp-azure-grgth3bte8cccqhr.australiaeast-01.azurewebsites.net/ </div>



<div>1 <b>develop on local VS code ,save feature branch, check local site</b></div>
<div>2 <b>commit and push to remote dev</b></div>
<div>3 <b> PR , merger dev to main GITHUB </b></div>
<div>4 <b>CI, auto deploy to prd(zure web site)(</b></div>
<div>5 <b>post check,  https://webapp-azure-grgth3bte8cccqhr.australiaeast-01.azurewebsites.net/</b></div>