@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, Linda Wang </h1>

Welcome to your new web app.

<p>
<h3> Create Brazor web appp steps:</h3>
</p>

<div>1 install latest dotnet-sdk-8.0.303-win-x64</div>

<div>2 run <b>dotnet new</b> in api folder, select <b>Blazor</b></div>

<div>3 <b>Save </b>Update local: http://localhost:5009/</div>

<p></p>
<div> 4 <b>run: dotnet watch run </b> to restart local iis server </div>
<div><b>***********CICD***************</b></div>

<div>1 develop on <b>local</b> VS code ,save feature branch, check local site, by run: dotnet watch run</div>
<div>2 <b>commit and push to remote dev</b></div>
<div>3 <b> PR , merger dev to main GITHUB </b></div>
<div>4 <b>CI, auto deploy to prd(zure web site)(</b></div>
<div>5 <b>post check, https://webapp-azure-grgth3bte8cccqhr.australiaeast-01.azurewebsites.net/</b></div>